node_modules
package-lock.json
.pnpm-store

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Database
data/tac1.db-shm
data/tac1.db-wal
data/tac1.db
data/questions-clr.json
data/questions-mouvement.json
data/questions-organisationnel.json
data/questions-tresorerie.json